.navbar-custom {
  background-color: #666666;
  color: #fdfcfb;
}

.custom-brand:hover {
  cursor: pointer;
}

.app-background {
  background-color: #eff2f4;
  height: 100vh;
}

.btn-custom {
  background-color: white;
  outline: 2px solid black;
  border-radius: 1px;
}

.btn-custom:hover {
  background-color: black;
  color: white;
}

.table-row-bordered {
  border: solid 2px black;
  background-color: #cccccc;
}

.table-row-content:hover {
  cursor: pointer;
}

.table-head-content {
  padding: 0px 5px !important;
}

.custom-form-control {
  width: 80%;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 1px;
}

.custom-form-control:focus {
  border: none;
  outline: 2px solid black;
  box-shadow: none;
}

.custom-dropdown {
  width: 80%;
  border-radius: 1px;
  padding: 3px;
}

.custom-tab {
  background-color: purple;
}
