.btn-custom {
  background-color: white;
  border: 2px solid black;
  border-radius: 1px;
}

.btn-custom:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.bucket-input:focus {
  border: 1px solid;
  outline: 1px solid black;
  box-shadow: none;
}

.is-selected {
  background-color: #ddd;
}
